.app {
  display: flex;
  height: 100%;
}

.contact-list{
  display:flex;
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
}

.contact{
  height: 100%;
}

.edit-name{
  display: flex;
}

.edit-name__first,
.edit-name__last{
  display: flex;
  flex-direction: column;
}

.contact-emails{
  display: flex;
  flex-direction: column;
}

.add-email {
  display: flex;
  align-items: center;
}

.add-email p{
  padding: 7px;
}