:root{
  --main-bg-color:rgb(248,250,255);
  --main-primary-color:rgb(91,156,252);
  --main-secondary-color:rgb(85,85,85);
  --main-error-color:rgb(252,89,91);
}

*{
  box-sizing: border-box;
  padding:0; 
  margin: 0;
  font-weight: 400;
}

.app {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.contact-list{
  display:flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
}

.contact-list__icon{
  cursor: pointer;
}

.contact-list ul{
  display: flex;
  flex-flow: column nowrap;
  padding:12px 0;
  align-items: flex-start;
  list-style: none;
}

li.contact-list__item{
  padding: 6px 20px;
  cursor: pointer;
  width:100%;
}

li.new {
  color:var(--main-primary-color);
}

li.selected{
  background-color: var(--main-primary-color);
}

li.contact-list__item:hover{
  background-color: var(--main-primary-color);
}

header {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  color: var(--main-primary-color);
  font-size:24px;
}

header h1 {
  padding-right:10px;
  color: black;
  font-size: 28px;
}

.contact{
  height: 100%;
}

fieldset{
  border:none;
}

.edit-name{
  display: flex;
  padding: 40px 5px 5px;
  color: rgb(113,114,115);
  font-size: 10px;
}

input{
  background-color: var(--main-bg-color);
  border: 1px solid rgb(230,240,254);
  color: var(--main-secondary-color);
  padding: 7px;
}

.edit-name__first,
.edit-name__last{
  display: flex;
  flex-direction: column;
  margin:15px;
}

.edit-name__first label,
.edit-name__last label{
  padding: 5px 0;
}

.contact-emails{
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  color: var(--main-secondary-color);
}

.contact-emails label{
  font-size: 10px;
  padding: 4px 0 ;
}

.contact-emails ul {
  list-style-type: none;
  font-size: 14px;
}

.contact-emails li{
  padding: 7px 0;
  cursor: pointer;
  display: flex;
}

li.deselected{
  text-decoration: line-through;
  color:var(--main-error-color);
  font-style: italic;
  opacity:0.9;
}

.contact-delete-email{
  padding: 0 5px ;
  color:rgb(252,89,91);
  display: none;
}

li:hover .contact-delete-email{
  display: block;
}

li.deselected .contact-delete-email{
  display: none;
}

.new-emails{
  display: flex;
  flex-direction: column;
  width:max-content;
}

.contact-emails input {
  margin: 6px 0;
}

.add-email {
  display: flex;
  align-items: center;
  color: var(--main-primary-color);
  font-size: 14px;
  cursor: pointer;
}

.add-email p{
  padding: 7px;
  font-size: 12px;
}

.crud-buttons{
  display: flex;
  flex-direction: row;
  padding: 5px;
  align-self: flex-end;
  justify-content: space-between;
}

.crud-buttons button {
  padding: 3px 15px;
  border: none;
  margin:15px;
  width: 5rem;
  font-size: 12px;
  cursor: pointer;
}

button.delete{
  color:white;
  background-color: var(--main-error-color);
  align-self:flex-start;
}

button.cancel{
  background-color: var(--main-bg-color);
  border: 1px solid rgb(140,186,252);
}

button.save{
  color:white;
  background-color: var(--main-primary-color);
}

button.disabled{
  opacity: 0.4;
}